<!--
alert view of the alert system project.

Created by BrayanRojas0630, Elkin77, on June 2019.
Copyright (c) 2019 BrayanRojas0630, Elkin77 Corporación Universitaria Minuto de Dios. All rights reserved.

This file is part of ProjectName (BudRot-AutomaticDetection).

ProjectName (BudRot-AutomaticDetection) is free software: you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation, version 3.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Budrot Automatic Detection</title>
    {% load static %}
    <!-- Custom fonts for this template-->
    <link href="{% static 'boostrap_template/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'boostrap_template/css/sb-admin-2.min.css'%}" rel="stylesheet">
    <!--Angular js-->
    <script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/angular-datatables.min.js' %}"></script>
    <style type="text/css">
      .header {
      color: #36A0FF;
      font-size: 27px;
      padding: 10px;
      }
      .bigicon {
      font-size: 35px;
      color: #36A0FF;
      }
      @media screen and (max-width: 600px) {
      table {
        display: block;
        overflow-x: auto;
      }
      }
    </style>
  </head>
  <body id="page-top" ng-app="app">
    <!-- Page Wrapper -->
    <div id="wrapper" ng-controller="network.alert">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient sidebar sidebar-dark accordion toggled" id="accordionSidebar"
        style="background-color: #3FA365">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fab fa-pagelines"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Automatic Detection</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link" href="/user">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Estadísticas</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
          Componentes
        </div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Componentes</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Componente</h6>
              <a class="collapse-item" href="/network/load_file">Red Neuronal</a>
              <a class="collapse-item" href="/network/simulation">Simulación</a>
            </div>
          </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
          Páginas
        </div>
        <li class="nav-item">
          <a class="nav-link" href="/user/user_registration">
          <i class="fa fa-users" aria-hidden="true"></i>
          <span>Registro de Usuarios </span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/network/list_alerts">
          <i class="fa fa-bell" aria-hidden="true"></i>
          <span>Alertas</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
            </button>
            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
              <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn" type="button" style="background-color: #3FA365">
                  <i class="fas fa-search fa-sm" style="color: white"></i>
                  </button>
                </div>
              </div>
            </form>
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>
              <div class="topbar-divider d-none d-sm-block"></div>
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">ELkin Prada</span>
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <!--<img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">-->
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cerrar Sesión
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->
          <div class="row" style="margin-top: 15px;">
            {% verbatim %}
            <div id="alerts" class="col-md-12">
              <table id="table_alert" class="table table-striped table-bordered" style="margin: 5px; font-size:13px">
                <thead>
                  <th style="width: 2%">
                    <center>ID</center>
                  </th>
                  <th>
                    <center>Destinatario</center>
                  </th>
                  <th>
                    <center>Contenido</center>
                  </th>
                  <th>
                    <center>Fecha de Envío</center>
                  </th>
                  <th>
                    <center>Log AWS</center>
                  </th>
                  <th style="width: 15%">
                    <center>Acción</center>
                  </th>
                </thead>
                <tbody>
                  <tr ng-repeat="alert in alert_list">
                    <td>
                      <p>{{alert.id}}</p>
                    </td>
                    <td>{{alert.number}}</td>
                    <td>{{alert.context}}</td>
                    <td>{{alert.create_at}}</td>
                    <td>{{alert.log}}</td>
                    <td>
                      <center><i class="fas fa-user-check" style="color: #3FA365"></i></center>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            {% endverbatim %}
          </div>
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; BudRot-AutomaticDetection</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Esta seguro de salir?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Seleccione aceptar para finalizar la sesión!</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn" style="background-color: #3FA365; color:white" href="/login">Aceptar</a>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'Controller/app.js' %}"></script>
    <script src="{% static 'Controller/network.controller/alert.js' %}"></script>
    <script src="{% static 'Controller/Directives/directive.bootstrapSwitch.js' %}"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'boostrap_template/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'boostrap_template/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'boostrap_template/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'boostrap_template/js/sb-admin-2.min.js' %}"></script>
    <!-- Page level plugins -->
    <script src="{% static 'boostrap_template/vendor/chart.js/Chart.min.js' %}"></script>
    <!-- Page level custom scripts -->
    <script src="{% static 'boostrap_template/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'boostrap_template/js/demo/chart-pie-demo.js' %}"></script>
  </body>
</html>